.Layout {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 12px;
  z-index: 1;
}

.Header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 64px;
  padding: 12px 24px;
  margin-bottom: 12px;
  background-color: #ff6347;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 700px) {
  .Header {
    justify-content: center;
  }
}
